
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
}



.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }


nav {
    background-color: #004080; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.add-result-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004080; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .add-result-button:hover {
        background-color: #00264d; 
        text-decoration: none;
    }

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    nav ul li {
        margin-left: 1em;
    }

        nav ul li:first-child {
            margin-left: 0;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

.exam-program {
    font-weight: bold;
    margin-left: 1em;
}

.content {
    padding: 2em;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
}

.welcome-section {
    text-align: center;
    padding: 3em 0;
}

    .welcome-section h1 {
        font-size: 2.5em;
        color: #333; 
    }

button {
    padding: 10px 20px;
    background-color: #004080; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

    button:hover {
        background-color: #00264d; 
    }

.tables {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
}

.table-container {
    flex-basis: 30%; 
    margin-bottom: 2em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    font-size: 1.5em;
    color: #333; 
    margin-bottom: 0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd; 
    padding: 8px;
}

    table th {
        background-color: #f2f2f2; 
    }

    table th, table td {
        text-align: left;
    }


