@model (CreateExamDto examDto, List<LessonDto> lessons, List<StudentDto> students)

<h2 style="text-align: center;">İmtahan Əlavə Et</h2>
<br />

<div class="form-container">
    <!-- Validation summary -->
    <div asp-validation-summary="All" class="text-danger" style="text-align: center; margin-bottom: 15px;"></div>

    <form asp-controller="Exam" asp-action="Index" method="post">
        <div class="mb-3">
            <label class="form-label">Dərs:</label>
            <select asp-for="examDto.LessonId" class="form-control" required>
                <option value="">Dərs seçin</option>
                @foreach (var lesson in Model.lessons)
                {
                    <option value="@lesson.Id">@lesson.Code</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Şagird:</label>
            <select asp-for="examDto.StudentId" class="form-control" required>
                <option value="">Şagird seçin</option>
                @foreach (var student in Model.students)
                {
                    <option value="@student.Id">@student.Number</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">İmtahan Tarixi(ay-gun-il):</label>
            <input asp-for="examDto.examDate" type="date" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Qiymət:</label>
            <input asp-for="examDto.Score" type="number" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Əlavə et</button>
    </form>
</div>
